<form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
    <div class="row">
        <div class="mb-3">
            <input class="w-75" placeholder="Name" formControlName="name">
        </div>
        <div class="alert alert-danger" *ngIf="name?.['errors'] && (name?.dirty || name?.touched)">
            <li *ngIf="name?.['errors']?.['required']"> Name is Required</li>
            <li *ngIf="name?.['errors']?.['minlength']"> Name is less than 3 letters</li>
        </div>
        <div class="mb-3">
            <input class="w-75" placeholder="Email" formControlName="email">
        </div>
        <div class="alert alert-danger" *ngIf="email?.['errors'] && (email?.dirty || email?.touched)">
            <li *ngIf="email?.['errors']?.['required']"> Email is Required</li>
            <li *ngIf="email?.['errors']?.['email']"> Email is invalid</li>
        </div>
        <div class="mb-3">
            <input class="w-75" placeholder="Password" formControlName="password">
        </div>
        <div class="alert alert-danger" *ngIf="password?.['errors'] && (password?.dirty || password?.touched)">
            <li *ngIf="password?.['errors']?.['required']"> Password is Required</li>
            <li *ngIf="password?.['errors']?.['minlength']"> Password is less than 3 letters</li>
        </div>
        <div class="mb-3">
            <input class="w-75" placeholder="Age" formControlName="age">
        </div>
        <div class="alert alert-danger" *ngIf="age?.['errors'] && (age?.dirty || age?.touched)">
            <li *ngIf="age?.['errors']?.['required']"> Age is Required</li>
            <li *ngIf="age?.['errors']?.['min']"> Age is less than 21</li>
            <li *ngIf="age?.['errors']?.['max']"> Age is more than 60</li>
        </div>
    </div>
    <button class="btn btn-primary">Register</button>
</form>
